<div class="container w-50 text-center" >
    <div class="row  mt-2 ">
        <div class="login col-lg-6 col-sm-12 mt-1">
    <h1 class="mt-2">Sign Up</h1>
    <form  class="bckfrm mt-2 p-3 "action="">
        <div class="mt-2 p-2">
            <!-- <label for="u1">Username</label> -->
            <input type="text" id="u1" placeholder="Username" class="form-control">
        </div>
        
        <div class="mt-2 p-2">
            <!-- <label for="a1">Account Number</label> -->
            <input type="text" id="a1" placeholder="Account Number" class="form-control">
        </div>
    
<div class="mt-2 p-2">
    <!-- <label for="p1">Set Password</label>  -->
    <input type="password"  id="p1" placeholder="Set Password" class="form-control">
</div>
    
<div class="mt-2 p-2">
    <!-- <label for="c1">Confirm Password</label>  -->
    <input type="password"  id="c1" placeholder="Confirm Password" class="form-control">
</div>

<div id="ale">  
 </div>

<div class="mt-2 p-2">
    <button type="button"  class="subbtn w-75"> Submit</button>
    
</div>


</form>
</div>
<div class=" col-lg-6 col-sm-12 mt-5">
    <img id="p2" src="https://i.postimg.cc/tRrL5ncb/531-5313545-bank-icon-hd-png-download-removebg-preview-1.png" alt="">
  </div>

</div>
</div>
