#a1{
    text-align: center;
    border-radius: 8px;
}
#u1{
    text-align: center;
    border-radius: 8px;
}
#c1{
    text-align: center;
    border-radius: 8px;
}
#p1{
    text-align: center;
    border-radius: 8px;
}

.bckfrm{
    background-color: rgba(49, 4, 49, 0.404);
    border-radius: 5px;
    box-shadow: inset  -3px  -3px 8px #a5a9b1be, inset 5px 5px 12px rgba(0, 0, 0, 0.432);

}
.subbtn{
    background-color: beige;
    border-radius: 8px;
    padding: 5px;
    box-shadow: inset  -3px  -3px 8px #57035abe, inset 5px 5px 12px rgba(94, 4, 71, 0.432);

}#p2{
    width: 100%;
    
}
