#navbarSupportedContent{
  color: black;
}
.navbar{
  background-color: blueviolet;
}
.im1{
    width:70%;
    height:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div1{
  background-color: black;
}
h1{
  color: black;
  font-family: monospace;
}
.details{
  color: rgb(65, 4, 2);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}